label{
    display:block;
    margin-top:10px;
}

label > span{
	font-weight:bold;
}

label > div{
	border:1px #a0a0a0 solid;
    border-radius:3px;
    padding:4px;
}

.crud-list{
	border:1px black solid;
    border-radius:3px;
    text-align:right;
	width:100%;
}

.crud-list th{
    background-color:#00616f;
    border-radius:2px;
}

.crudlist-iconcol{
	width:90px;
}

.crud-list td{
    background-color:#008fa5;
    border-radius:2px;
    padding:4px;
}

.crudlist-icon{
	background-repeat:no-repeat;
    background-size:100%;
    float:right;
    height:18px;
    margin:0 0 0 10px;
    padding:0;
    width:18px;
}

.crud-list a{
    color:#d8d8d8;
}